
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Navigation Styles */
nav {
  background-color: #004d99; /* Dark blue background */
  padding: 1rem;
}

nav ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the navigation items */
}

nav ul li {
  margin: 0 1rem; /* Add some space between navigation items */
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff; /* White text color */
  font-weight: bold;
  padding: 0.5rem 1rem; /* Padding for clickable area */
  border-radius: 5px; /* Rounded corners for links */
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #0073e6; /* Lighter blue background on hover/focus */
  color: #ffffff;
  outline: none; /* Remove focus outline */
}

/* Content Styles */
.content {
  flex: 1;
}

/* Route specific styles can go here */
/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}

.footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
}

.footer-right {
  text-align: right;
}

/* Social media icon sizes */
.footer img {
  width: 24px;
  margin: 0 5px;
}